<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>TODO_LIST</title>
</head>
<body>
    <h1>TODO LIST</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="할 일">
        <input type="text" name="memo" placeholder="메모 (선택사항)">
        <button type="button" onclick="location.href=' '">저장</button>
    </form>

    <h2>캘린더</h2>
    <table>
        <thead>
            <tr>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th>토</th>
                <th>일</th>
            </tr>
        </thead>
        <tbody>
