<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
    <link rel="stylesheet" href="./../static/css/join.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+KR&family=Roboto:ital@1&family=Shippori+Antique+B1&display=swap" rel="stylesheet">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
</head>
<body>
    <div class="logo"><p>To do list</p></div>
<div class="wrapper">
    <div class="main">
        <p class="회원가입">회원가입</p>
        <div class="field">
            <p>아이디</p>
            <input class ="userId" placeholder="Todolist">
            <button class ="check" >중복 확인</button>
        </div>
        <div class="field">
            <p>비밀번호</p>
            <input class ="userpw" type="password" placeholder="********">
        </div>
        <div class="field">
            <p>이메일</p>
            <input class="email" type="text" placeholder="Todolist@example.com">
        </div>
        
        <div class="field-name-birth" >
            <div>
                <p>이름</p>
                <input class ="name" type="text" placeholder="Todolist">
            </div>
            <div>
                <p style="margin-left:50px;">생일</p>
                <input class= "birth" type="text" placeholder="xxxx.xx.xx">
            </div>
        </div>
        <div class="field">
            <p>학번</p>
            <input class="grade" type="text" placeholder="2023xxxxx">
        </div>
        <div class="field">
            <p>질문</p>
            <input type="text" placeholder="question">
        </div>
        <div class="field">
            <p>답변</p>
            <input type="text" placeholder="answer">
        </div>

        <button class="account"> 계정 만들기 </button>

        <!--중복 모달창-->
         <div id="modal-container" class="modal unstaged">
            <div class="modal-overlay"></div>
            <div class="modal-contents" id="modal-contents">
              <h3 class = modal-text>중복된 아이디 입니다.</h3>
              <button class="okbtn"> 확인</button>
            </div>
          </div> 
        </div>

        <!-- 사용 가능한 아이디인지 중복인지는 백엔드에서 정보를 받아서 js로 받아서 경우에 따라 문자만 바꿔주는걸로 처리하면 될 것 같습니다.-->
        

        
    </div>
</div>  
<script>
    $(".check").click(function() {
  document.getElementById("modal-container").classList.toggle("opaque");
  document.getElementById("modal-container").classList.toggle("unstaged");
 
    })
</script>
</body>
</html>