<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLIST</title>
    <link rel="stylesheet" href="../static/css/start.css">
</head>
<body>
    <div class="logo">To do List</div>
    <div id="content">
        <div id="description1">
            <p>"할 일 목록을 만들어<br>일정을 체계적으로 관리하세요."</p>
        </div>
        <div id="description2">
            <p>'To do List'는 사용자에게<br>작업을 생성, 관리, 정리하는 기능을 제공합니다.</p>
        </div>
        <button type="button" onclick="location.href='login'">시작하기</button>
    </div>
</body>
</html>